/*wyb*/
body{
	font: 14px Tahoma, Verdana,snas-serif; 
	color:#333333; 
	overflow-x:hidden;
}
a{ text-decoration:none; color:#666666;}
.top{ width:1100px; margin:0 auto; margin-top:270px;}
.menu_css{ float:left; margin-left:30px; text-align:center; color:#FFFFFF; font-family:"微软雅黑"; font-size:16px; width:106px; height:106px;}
.menu_css:hover{ border:#FFFFFF 1px solid; background-image:url(../images/bg1.png) !important; background-repeat:repeat;width:104px; height:104px; cursor:pointer;}
.menu_pic{ height:60px; padding-top:10px;}
img{border: none;}

.login_div_css{ position:absolute;top:500px; visibility:hidden; width:620px; margin-left:Y; z-index:999; }
.top_1{ padding-left:190px;}
.top_1 div{ float:left; cursor:pointer;width:70px;padding-left:25px; margin-left:12px; font-family:"微软雅黑"; font-weight:bold; height:22px; line-height:22px; vertical-align:middle;}
.top_1 div:hover{ color:#666666;}
.top_1 a:hover{ color:#CC0000;}
.login_css{ clear:both;display:none; color:#CCCCCC; margin-top:36px; width:616px; height:334px; background:url(../images/login_bg.png) no-repeat;}
.login_css tr{ line-height:57px;}
.login_txt_css{ line-height:25px;height:25px; padding-left:10px; width:270px; border-radius:6px; background-color:#e5e5e5;}
.login_txt_css:focus{outline:none;}
.top_2 div{ float:left; width:190px; text-align:center;}
.login_btn{ color:#f8f8f8; background-color:#1a9cda;border-radius:6px; font-size:15px; line-height:30px; margin-top:15px; height:30px; width:130px !important;font-family:"微软雅黑"; text-align:center; vertical-align:middle;}
.login_btn:hover{background-color:#148ac2; cursor:pointer;}
.top_2 a{ color:#CCCCCC; text-decoration:none;}
.top_2 a:hover{ color:#e1dbdb;}
.other_css{ margin-top:1px;}
.other_css img{ margin-top:10px;} 
.foot_css{ background:url(../images/foot.png) center no-repeat; height:429px; margin-top:50px;}
.foot_1_css{ padding-top:260px; }
.foot_1_css a{ color:#CCCCCC; text-decoration:none; font-size:16px !important;}
.foot_1_css a:hover{ color:#666666;}
.foot_1_css div{ text-align:center; line-height:37px; color:#9b9898; font-size:12px; font-family:"宋体";}

.main_css{ clear:both;width:1100px; margin:0 auto;padding-top:180px;}
.self_btn{ width:105px; height:31px;margin:0 auto; text-align:center !important; background-image:url(../images/button_bg.png); background-repeat:no-repeat; cursor:pointer; line-height:31px !important; vertical-align:middle;font-family:"微软雅黑";}
.book_info_css{ position:absolute; font-size:12px;border-radius:5px; z-index:5; width:350px; background-color:#afb7b9 !important;}
.sec_book_css{border-radius:5px;}
.book_intro_css{ line-height:22px;}
.book_buttom_css{ line-height:35px; text-align:center; background-color:#f0f0f0 !important;}
.book_title_css{ font-weight:bold; font-size:13px;}
.book_author_css{ color:#999999;}
.book_click_css{ color:#999999;}
.zaiduquxiao{ margin-left:180px;}

/*index*/
.index_1_css{ width:448px; padding-top:70px;}
.index_1_css div{ line-height:38px; text-align:center;}
.en_title{ font-family:"黑体"; font-weight:bold; font-size:16px;}
.title_css{ background:url(../images/bookbank.png) center no-repeat;height:42px;cursor: pointer;}
.index_2_css{float:left; width:428px; padding-top:260px;}
.index_2_css div{ text-align:right; line-height:37px; padding-right:15px;}
.index_3_css{float:left; width:650px; margin-left:20px;}
.index_4_css{ width:270px; margin-top:15px; padding-left: 20px;}
.index_4_css ul{ padding:0px; margin:0px; list-style:none;}
.index_4_css li{ cursor:pointer; line-height:32px;}
.index_4_css li:hover{ color:#999999;}
.index_4_css div{ text-align:left; line-height:45px;}
.index_img_1{ position:absolute; top:645px; margin-left:460px; width:609px; height:585px; z-index:50;}
.index_img_2{ position:absolute; top:1163px;margin-left:15px; width:400px; height:321px; z-index:50; }
.index_5_css{ width:800px; margin:0 auto; height:260px; margin-top:50px; clear:both;}
.coop_item{ float:left; width:125px; height:125px; margin-left:55px; cursor:pointer;}
.coop_item div{ margin-top:10px;}
.coop_item div:hover{ padding-top:5px; color:#cfa4ae !important;}
.coop_name{ font-family:"黑体"; font-size:16px; text-align:center; color:#000000;}
.coop_en{ font-family:"微软雅黑"; color:#999999; font-size:12px; text-align:center;}
.main_2_div{ width:1000px; margin:0 auto;}
.title_div_css{ font-weight:bold; color:#333333; text-align:center; font-size:22px; font-family:"微软雅黑";}
.title_self_css{ font-family:"黑体"; font-size:28px;}
.recommand_1_css div{ margin-top:30px; text-align:right;} 
#recommand_div_1_css div{ text-align:left;}
.recommand_3_css div{margin-top:12px;text-align:left;}
.book_info{ line-height:27px; font-size:12px; padding-right:5px; width:260px;}
.paixu_div{ height:39px; background-color:#FFFFFF; font-size:12px;}
.zannum_css{background:url(../images/tao.png) 1px 3px no-repeat; padding-left:17px;}
.read_num_css{background:url(../images/rendnum.png) 1px 3px no-repeat; padding-left:17px;}
.article_items{ float:left; width:178px;border:#ffffff 1px solid; cursor:pointer; margin-left:24px; margin-top:20px; }
.article_items:hover{ border:#CCCCCC 1px solid;}
.article_items div{ background-color:#FFFFFF; padding-top:10px; padding:5px;}
.noval_title{color:#333333; font-family:"黑体"; font-size:18px;}
.noval_img{height:234px !important; padding-top:0px !important;padding-left:0px !important;}
.noval_info_css{ font-size:12px; color:#999999; line-height:20px; height:40px;}
.noval_author{font-size:12px; border-bottom:#CCCCCC 1px solid; padding-bottom:9px;}
.acticle_add_time{ color:#CCCCCC;}
.article_type_css{ font-size:12px; color:#999999; }
.article_items_foot{ padding:0px !important;}
.article_items_foot table{font-size:12px; background-color:#e8e8e8; color:#666666;}
.article_items_foot td{font-size: 10px !important;}

.search_div{ margin-top:35px;}
.search_checkbox{ color:#333333;font-family:"微软雅黑";}
.search_div td{ width:50%;}
.novel_list_div{width:75%;padding-bottom:40px; overflow:auto; line-height:30px; margin:0 auto;clear:both;}
.novel_list_div div{ float:left; width:110px; margin-left:6px; margin-top:20px;}
.novel_list_div a{ color:#333333; font-family:"黑体"; font-size:16px;}
.novel_list_div a:hover{ color:#1a9cda !important;}

.novel_1_css div{ text-align:right; margin-top:18px; font-size:12px; padding-right:10px;}
.novel_2_css div{ text-align:left; margin-top:12px;}
.novel_1_title_css{ font-family:"黑体"; font-size:22px;padding-left:20px;}
.novel_1_author_css{padding-left:20px;}
.more_record{ background:url(../images/more.png) no-repeat right; width:70px; text-align:center; color:#999999; font-family:"微软雅黑";}
.more_record:hover{ color:#333333; cursor:pointer;}

.list_title{ font-family:"黑体"; font-size:24px; padding-left:15px; font-weight:bold;}
.list_table{ background-color:#FFFFFF; height:40px;}
.list_items{ margin-top:40px;}
.tree_css{ background:url(../images/tree.png) no-repeat; height:385px; padding-top:10px;}
.tree_css div{ padding-left:20px; cursor:pointer; margin-top:11px; color:#999999; font-family:"微软雅黑"; background:url(../images/smallyuan.png) 4px 5px no-repeat;}
.shuxing{color:#040000; text-align:center; font-family:'黑体'; font-size:18px; font-weight:bold; border-right:#666666 1px solid; height:300px;}

.positon_div{ position:absolute;}
.details_div table{ }
.details_div td{color:#666666; font-family:"黑体";}
.details_div tr{ line-height:27px;}
.paiming{ padding-left:20px; font-size:14px; color:#333333 !important;}
.shuming{font-size:14px; color:#000000 !important;}
.shuming:hover{ color:#1a9cda !important; text-decoration:underline; cursor:pointer;}
.leibie{font-size:14px; color:#000000 !important; }
.week_free{ width:130px; margin-top:70px; height:35px; text-align:center; font-family:"微软雅黑"; color:#FFFFFF; line-height:35px; vertical-align:middle; background-color:#1a9cda;}

.pic_ones{ padding-top:500px; padding-left:220px;}
.pic_ones div{ float:left; width:20px; font-weight:bold; color:#333333; cursor:pointer; height:20px; margin-left:10px; line-height:20px; vertical-align:middle; text-align:center; font-family:"微软雅黑"; border-radius:2px; font-size:10px; background-color:#CCCCCC;}
.txtCss{ height:27px; line-height:27px; border:none; padding-left:10px; background-color:#d9d2d2;}
.txtCss:focus{ background-color:#ffdfe0;outline:none;}
.menuPage{ padding:0px; margin:0px; padding-left:170px;}
.menuPage li{ float:left; list-style:none;  width:90px; font-family:"微软雅黑"; font-size:15px; text-align:center;}
.menuPage li:hover{ color:#cfa4ae; cursor:pointer;}
.advGong tr{ line-height:35px;}
.advGong td{ padding-left:10px;}
.advtitleCss{ color:#333333;}
.advtitleCss:hover{ cursor:pointer; text-decoration:underline; color: #1a9cda;}
.paimingshuzi{ position:absolute; z-index:1000; padding-top:0px !important; background-image:url(../images/bg2.png); background-repeat:repeat; }
.paimingshuzi div{ background:none; text-align:center; color:#FFFFFF;}
.numCss{ font-size:90px; font-family:"黑体";}
.xiahuaxiancss{ width:50%; border:#FFFFFF 1px solid; margin:0 auto;}
.paihangbangIndexCss{ background-image:url(../images/paihangbang.png); width:101px; height:38px; margin-left:35px; margin-top:520px;}
.paihangbangIndexCss:hover{ background-image:url(../images/paihangbanghover.png); cursor:pointer;}
.zuojiafuliIndexCss{ background-image:url(../images/zuojiafuli.png); width:101px; height:32px; margin-left:300px; margin-top:300px;}
.zuojiafuliIndexCss:hover{ background-image:url(../images/zuojiafulihover.png); cursor:pointer;}

.huodongzhuanquIndexCss{ width:86px; height:24px; margin-left:50px; margin-top:420px;}
.huodongzhuanquIndexCss:hover{ background-image:url(../images/dashenhover.png); cursor:pointer;}
.conditioncss div{ margin-top:10px; margin-left:10px; font-family:"微软雅黑"; font-size:14px; float:left; width:95px; height:35px; line-height:35px; text-align:center; vertical-align:middle; border-radius:6px; text-align:center;}
.title_one{ background-color:#FFFFFF; font-weight:bold;}
.title_two{ background-color:#f0f0f0; cursor:pointer; color:#666666;}
.title_two:hover{ background-color:#d8d3d3; color:#000000;}
.title_three{ cursor:pointer; background-color:#f4f9fd; width:85px !important;}
.title_three_click{ cursor:pointer; background-color:#9dd0f8;}
.divfenlei{ margin:15px; padding:10px; overflow:auto; border-radius:4px; border:#e0dcdc 1px solid;}
.divfenlei .conditioncss{ display:none;}
.title_two_click{ background-color:#1a9cda;cursor:pointer; color:#FFFFFF;}
.title_two_click:hover{ background-color:#21abed;}
.login_close_css{ width:20px; height:18px; cursor:pointer; margin-left:560px; margin-top:5px; line-height:18px; text-align:center; background-color:#FFFFFF; color:#333333; font-weight:bold; position:absolute; z-index:2;}
.login_close_css:hover{ background-color:#CCCCCC;}
.shuku_index p:hover{ color:#0099FF; cursor:pointer;}
.hover_div_css{ position:absolute; background-image:url(../images/index_big_h.png); color:#FFFFFF;}
.hover_div_css div{ line-height:30px; cursor:pointer; font-family:"黑体"; font-weight:bold; padding-left:20px;}
#index_img_1_hover{ padding:20px; font-size:16px;}
#index_img_1_hover div:hover{ color:#0099FF;}
.novel_info{ line-height:25px !important; font-size:14px !important; margin-top:15px;}
.novel_info:hover{ color:#FFFFFF !important;}
.novel_list_index div{ text-align:left; padding-left:20px; color:#fdf5f5 !important; font-size:15px !important;}
.fuli_index{ padding:20px;}
.fuli_index div{ font-size:15px !important;}

/*zj*/
/*activity*/
.activity_top{background-image:url(../images/12_p_2.png) !important;width:100%;height:98px;}
.activity_topone{width:883px;height:98px;margin:0 auto;}
.activity_topone div{float:left;}
.activity_two{width:100%;height:455px;}
.activity_twofirst{width:1124px;margin:0 auto;}
.activity_twotwo{width:800px;height:90px;line-height:90px;margin:0 auto;}
.activity_main{width:800px;margin:0 auto;line-height:42px;}
.activity_three{width:1000px;height:286px;margin:0 auto;background-image:url(../images/activity.jpg) !important;}
.activity_foot{width:100%;background-image:url(../images/12_p_5.png) !important;height:66px;color:#898989;}
.activity_foot div{width:100%;height:33px;line-height:33px;text-align: center;}
.headlogoimg{width:200px;height:56px;padding-top:20px;}
.backindex{width:200px;height:98px;line-height:128px;margin-left:450px;color:#fff;text-align: right;}
.backindex:hover{cursor:pointer;}
.activity_foot_css{color:#fff;padding-top:55px;}
.activity_foottitle{font-family: "黑体";color:#fff;font-size: 26px;width:300px;height:30px;margin:0 auto;text-align: center;padding-bottom:15px;}
.activity_foot_tab tr{height:30px;line-height:30px;}

/*aboutus*/
.aboutus_top{background-image:url(../images/head.png) !important;width:1000px;height:98px;margin:0 auto;z-index: 100;}
.aboutus_top div{width:883px;margin:0 auto;padding-top:21px;}
.aboutus_main{background:url(../images/11_p_3.png) 1px -7px no-repeat;width:1000px;height:729px;margin:0 auto;}
.aboutus_main_one{width:883px;height:30px;padding-top:45px;margin:0 auto;}
.aboutus_main_one div{float:left;padding-left:15px;}
.aboutus_main_two{width:883px;height:1px;margin:0 auto;}
.aboutus_bigpic{ background:url(../images/11_p_1_1.png) bottom center  no-repeat;width:100%;height:1361px;}
.aboutus_foot{background:url(../images/about_foot.png) 0px 0px no-repeat;width:1000px;height:468px;margin:0 auto; margin-top:0px !important; color:#FFFFFF;}
.aboutus_foot div{width:100%;height:33px;line-height:33px;text-align: center;}
.about_content div{float:left;height:500px;width:260px;line-height:32px;margin-left:60px;margin-top:55px;}
.about_0_css div{ margin-top:3px; text-align:left;}
.about_bottom{width:1000px;background-image:url(../images/11_p_2.png) !important;height:66px;color:#898989;margin:0 auto;}
.about_bottom div{width:100%;height:33px;line-height:33px;text-align: center;}

/*register*/
.register_main{background:url(../images/10_p_6.png) no-repeat;width:100%;height:944px;}
.register_content{width:1000px;height:780px;margin:0 auto;background:#fff;}
.register_input{width:600px;height:470px;margin:0 auto;margin-top:50px;}
.shurushuju{clear:both;}
.shurushuju div{float:left;height:60px;line-height:40px;}
.shurushuju input{border-radius: 8px 8px 8px 8px;height:40px;border: none;}
.shurushuju_left{width:70px;text-align: right;}
.shurushuju_right{padding-left:30px;text-align:left;width:auto;}
.gouxuan{clear:both;width:400px;height:40px;line-height:40px;margin-left:100px;margin-top:15px;}
.gouxuan div{float:left;}
.register_btndiv{margin-left:100px;margin-top:40px;}
.register_btndiv div{float:left;line-height:40px;}
.register_qiehuan{clear:both;width:200px;height:30px;margin-bottom:20px;margin-left:100px;}
.register_qiehuan div{float:left;line-height:30px;font-family: '黑体';font-weight:bold;
font-size:20px;width:100px;height:30px;cursor:pointer;text-align:center; }
.dianhuaxinxi{border-bottom:3px solid #1a9cda;}
.youxiangxinxi{border-bottom:#1a9cda;}
#youxiangzhuce{display:none;}

/*projects*/
.projects_main{width:1000px;margin:0 auto;}
.projects_head{background-image:url(../images/7_p_47.png) !important;width:963px;height:577px;margin-left:38px;margin-top:50px;}
.head_youshang{width:553px;height:583px;float:right;}
.head_hang div{float:left;}
.head_hang:hover{}
.youshang_second{width:553px;height:320px;}
.head_zuoxia{float:left;margin-top:500px;width:350px; height:70px;line-height:20px;}
.zuoxia_hang{ padding-left:40px;}
.zuoxia_hang div{float:left;margin-left:10px;}
.head_youxia{z-index:99; position: absolute;width:500px;height:175px;margin-top:490px;margin-left:400px;color:#fff;line-height:28px;}
.youxia_er div{float:left; margin-left: 10px;}
.projects_hengtiao{background-color:#fff; overflow:hidden; height:40px; width:960px; margin:0 auto;}
.projects_hengxian{width:981px;height:1px;padding-top:6px;margin:0 auto;}
.projects_hengcontent{width:330px;float:left;}
.projects_hengcontent div{float:left;line-height:39px;}
.projects_liebiaoone{width:1000px;overflow: auto;}

.projects_mafan{width:1000px; min-height:300px; height:auto; padding-bottom:55px; overflow:auto;margin-top:30px;}
.projects_mafan div{float:left;}
.projects_mafantb td{height:21px;line-height:21px;padding-left:10px;}
.last_hang div{float:left;}
.da_shang_lei_ji_css{ line-height:42px; font-size:13px;}
.projects_mafanmidd{width:290px; height:auto;padding-left:10px;margin-right:30px; border: #f0f0f0 1px solid;}
.midd_one{width:250px;height:29px;line-height:29px;font-weight: 900;}
.midd_two{width:328px;height:29px;line-height:29px;border-bottom:#bfbfbf 1px solid;}
.midd_two_one{width:210px;height:30px;line-height:30px;}
.midd_two_two{width:50px;height:30px;line-height:30px;margin-right:5px;text-align: right;}
.midd_two_three{width:30px;height:30px;line-height:30px;margin-left:10px;margin-top:5px;}
.projects_novellist{width:100%;height:485px;margin-top:30px;padding-left:3px;}
.author_name:hover{cursor:pointer;}
.projects_qiehuan{clear:both;margin-top:80px;width:150px;height:30px;}
.projects_qiehuan div{float:left;line-height:30px;font-family: '黑体';font-weight:bold;
font-size:15px;width:75px;height:30px;cursor:pointer;}
.zuopinxinxi{border-bottom:3px solid #1a9cda;}
.zuojiaxinxi{border-bottom:#1a9cda;}

.project_wuben{margin-left:10px;}

/*read*/
.read_top{width: 1000px;background: #d7d7d7;margin: 0 auto;padding: 0px; border-bottom:#aaa5a5 1px solid;}
.read_top a{color: black;padding-left: 3px;}
.read_top a:hover{color:#847b7a; }
.read_content{width: 1000px;background:  0px #ffffff;margin: 0 auto;}

.read_content_left{width: 142px;height:auto;border: none; }
.read_content_right{width: 142px;border: none;}
.read_content_center{border: none;background:  0px #ffffff; }
.read_content_center_top{width: 716px;border: none;}
.read_content_1{width: 1000px;height: 35px;background:#e8e8e8;margin: 0 auto; }
.read_content_2{width: 1000px;height: 95px; clear:both; background:#f0f0f0;margin: 0 auto; }
.read_pl{width: 1000px;background:#e8e8e8;margin: 0 auto;margin-top:20px; }
.read_pl_left{width: 190px;height: 103px;border: none;text-align: center;}
.read_pl_right{width: 810px;height: 103px;border: none;}
.read_pl_input{border-radius: 5px 5px 5px 5px;width: 745px;height: 50px;margin-top: 35px;border: none;}
.read_pl_qs{width: 1000px;height: 103px;margin: 0 auto; background: #ffffff;border-bottom: 1px #c9c9c9 solid;}
.read_pl_qs div{float: left;}
.read_pl_qs_info div{ margin-left:10px; text-align:center; padding-top:20px;font-size: 12px; line-height:25px;}
.read_pl_con{width: 1000px;height: 10px;margin: 0 auto;border: none;background:#ffffff;}

.read_pl_more{width: 1000px;height: 103px;background:#ffffff;margin: 0 auto; }
.read_pl_more div{float: left;}
.read_other_tj{width:100%;height: 483px;background: #1b1b1b;margin: 0 auto;}
.read_foot{width: 100%;height: 116px;background: #333333;margin: 0 auto;text-align: center;color:#898989;font-size: 13px; margin-top: -13px;}
.read_ds{width:80px;height: 100px;position: absolute;padding-left: 65px;}
.read_left_menu{width:10px;height: 100px;position: absolute;padding-left: 25px;font-size: 15px;font-weight: bold;}


/*author_info*/
.author_content{width: 1000px;height: 515px;border: none;margin: 0 auto;background: url("../images/8_p_15.png") center no-repeat;margin-top: 40px;}
.author_content div{float: left;}
.author_content_left{clear:both; width: 499px;}
.author_content_left_1{padding-top: 25px;}
.author_content_left_1 div{float: left;}
.author_content_right{width: 498px;}
.author_content_right_1{width: 270px;height: 515px;}
.author_content_right_1 ul{padding: 155px 0px 0px 65px;}
.author_content_right_1 ul li{list-style-type:none;padding-top: 10px;font-size: 13px;}
.author_tj{clear:both; width: 1000px;height: 60px;margin: 0 auto;line-height: 66px;border-bottom: 1px #b5b5b5 solid;font-size: 18px;font-weight: bold;}
.div_title_css_main{ width:800px; min-height:500px; border-radius:4px;padding:20px; margin:0 auto; background-color:#f0f0f0;}
.div_title_css_sec{ width:40%; padding-left:20px; color:#333333; font-weight:bold; border-bottom:#666666 1px solid; padding-bottom:6px;}
.div_title_css_conetent{ padding:15px; line-height:30px; color:#666666;}
.div_title_css_conetent p{background-color:#f0f0f0 !important;}
.div_title_css_conetent span{background-color:#f0f0f0 !important;}

/*news*/
.news_title{ padding-left:12px; margin-top:15px; margin-top:15px; border-bottom:#CCCCCC 1px solid; background-color:#0099FF;}
.news_title table{ background-color:#FFFFFF;}
.news_title_css{color:#333333; padding-left:20px; cursor:pointer; font-weight:bold; font-size:14px; font-family:"宋体";}
.news_title_css:hover{ color:#cfa4ae;}
.news_time_css{color:#999999;font: 12px/160% Tahoma, Verdana,snas-serif; }
.news_content_css{ padding:10px; min-height:50px; line-height:22px; color:#9f9d9d;font: 12px/160% Tahoma, Verdana,snas-serif;}
.news_content_css a{ margin-right:20px;}

.title_book{ text-align:center; line-height:30px; font-size:13px; color:#333333;}
.title_book_one{ font-size:28px; color:#CC3300; font-weight:bold;}
.tipsdex{ color:#999999; margin-left:4px;}

/*author_list*/
.authorlist_content{width:1000px;margin:0 auto;min-height:500px;margin-top:50px;}
.authorlist_content_part{width:100%;height:170px;margin-top:20px;}
.authorlist_content_part div{float:left;}
.authorlist_one{width:82%;border-right:#b0b0b0 1px solid;}
.authorlist_onehengone{width:100%;height: 120px;}
.authorlist_xuhao div{clear:both;width:50px;height:45px;background:#fff;text-align: center;line-height: 45px;font-size: 28px;}
.authorlist_jieshaoti{height:30px;font-size: 28px;font-family: "微软雅黑";margin-top:-8px;}
.authorlist_jieshaonei{height:70px;line-height:22px;color:#666;font-size: 13px;margin-top:15px;}
.authorlist_onehengtwo{width:100%;height: 30px;}
.authorlist_onehengtwo div{height: 30px;}
.authorlist_two{width:16%;}
.authorlist_two div{clear:both;height:20px;line-height:20px;margin-left:50px;}

.shupingqu{ background-color:#FFFFFF; clear:both; padding:7px; font-famil:font: 12px/160% Tahoma, Verdana,snas-serif !important; }
.shupingqu_two{border:#e5e9eb 1px solid;}
.shupingqu_title{ line-height:40px; border-bottom:#e5e9eb 1px solid; background-color:#f5f8f9; height:40px; padding-left:20px; font-family:"黑体"; font-weight:bold; color:#0a6d9c; font-size:15px;}
.comment_items{min-height:50px; padding-top:15px; margin:0 auto; width:100%;border-bottom:#eaeff1 1px solid; padding-bottom:3px;}
.comment_items_ou{min-height:50px; padding-top:15px; background-color:#f5fcf8; margin:0 auto; width:100%;border-bottom:#eaeff1 1px solid; padding-bottom:3px;}
.comment_head div{ float:left;}
.comment_member_nick{ color:#009966;  width:220px; font-family:"宋体"; font-size:14px; padding-left:8px;}
.comment_time{ color:#b4b9bb;width:400px;font-size:12px; margin-left:5px; }
.comment_title{width:400px;font-size:13px; color:#2c2b2b ; margin-left:5px; border: #ffffff 1px solid;}
.comment_dianzan{ width: 60px;}
.comment_reply{background:url(../images/reply.png) no-repeat;  width: 60px;cursor:pointer; padding-left:23px; height:22px; line-height:22px; font-size:12px; margin-left:40px;}
.comment_reply a{}
.comment_reply a:hover{color:#11ae50; text-decoration:underline;}
.comment_content{ clear:both; line-height:22px; padding:10px;width:92%; height:auto; font-size:13px; color:#6f7872;}
.commentTotal{ margin-left:20px; color:#999999; font-size:13px;}
.look_more_comment{ font-size:14px; color:#009966;padding-top:5px; padding-left:20px; font-weight:normal; font-family:"宋体";}
.look_more_comment:hover{ text-decoration:underline; cursor:pointer; }
.comment_dianzan{ background:url(../images/7_p_41.png) no-repeat;height:22px; line-height:22px; padding-left:20px; cursor:pointer; font-size:12px;}
.comment_dianzan:hover{ text-decoration:underline;color:#11ae50;}
.add_comment{ color:#059ee7;font-size:14px; float:right; color:#FFFFFF;background-color:#24bef2; cursor:pointer; width:100px; text-align:center; line-height:36px; margin-top:2px; margin-right:2px; height:36px;}
.add_comment:hover{ background-color:#17acde;}
.loading_css{ padding:30px; min-height:50px;}
.shupin_css_foot div{ height:30px; line-height:30px; float:left; width:100px; text-align:center; margin-left:10px;}
.addCommentDiv{ width:80px; font-size:13px; text-align:center; cursor:pointer; color:#FFFFFF; background-color:#1a9cda; letter-spacing:2px; border-radius:5px;}
.addCommentDiv:hover{ background-color:#1ea9eb;}
.biao_qing_css{ overflow:auto; display:none; margin-top:10px; margin-bottom:10px;}
.biao_qing_css div{ width:24px; height:24px; float:left;margin-left:18px; margin-top:8px; cursor:pointer; border:#e8e8e8 1px solid;}
.biao_qing_css div:hover{ border:#333333 1px solid;}
.remainCharNum{ font-size: 12px; font-family: serif;]}
.novel_comment_div{ padding-left:30px; padding-top:5px;}
.novel_comment_div div{ height:40px; line-height:40px; font-size:14px;}

#da_shang_button{ padding-left:0px !important; margin-top:50px;}

.fen_juan_items{ clear:both; padding-top:25px; font-size:14px; color:#666666;}
.fen_juan_name{ height:40px; margin-bottom:8px; line-height:40px; border-bottom:#CCCCCC 2px solid; background-color:#FFFFFF; font-family:"黑体"; font-size:16px; padding-left:20px;}
.chapter_div{}
.chapter_div div{ float:left; width:27%; margin-left:10px; padding-left:34px; border-bottom:#c8bfbf 1px dashed; line-height:35px; font-family:Tahoma, Verdana,snas-serif; font-size:12px;}
.free_chapter{ background:url(../images/free.png) no-repeat 1px 10px;}
.vip_chapter{ background:url(../images/vip.png) no-repeat 1px 10px;}
.yetbuy{ background:url(../images/yetbuy.png) no-repeat 1px 10px;}
.buyFenJuan{ margin-left:40px; font-size:13px; font-family:"宋体"; visibility:visible}
.buyFenJuan a{ color:#CC0000;}
.buyFenJuan a:hover{ text-decoration:underline;}

#da_shang_button div{ float:left; cursor:pointer; margin-left:13px; }
.tuijian_div{ width:71px; height:21px; background-image:url(../images/recommand.png);}
.tuijian_div:hover{ background-image:url(../images/recommand_hover.png);}
.yuepiao_div{ width:70px; height:18px; background-image:url(../images/moon-ticket.png)}
.yuepiao_div:hover{ background-image:url(../images/moon-ticket_hover.png);}
.cuigeng_div{ width:74px; height:18px; background-image:url(../images/urge.png);}
.cuigeng_div:hover{ background-image:url(../images/urge_hover.png);}
.dashang_div{ width:73px; height:17px; background-image:url(../images/reward.png);}
.dashang_div:hover{ background-image:url(../images/reward_hover.png);}

.no_read_flag_css{ width:700px;  font-size:18px; margin:0 auto; min-height:500px; margin-top:100px; margin-bottom:50px;background-color:#FFFFFF; border-radius:5px; text-align:center; padding-top:50px;}
.comment_title_input{ height:40px; line-height:40px; padding-left:15px;  width:97%; border: #999999 1px solid;border-radius:5px;}
.autoBuyDiv{ display:none; min-height:60px;height:auto; border:#ddd5d5 2px solid; line-height:50px; font-family:"黑体"; font-size:15px; color:#ffffff; margin-top:15px; border-radius:6px; background-color:#bfbaba; padding-left:20px;}
.autoBuyDiv a{ color:#CC0000;}
.buyInfo_css{min-height:60px; height:auto;width: 80%;margin: 0 auto;border:#ddd5d5 2px solid; line-height:45px; font-family:"黑体"; font-size:14px; color:#ffffff; margin-top:15px; border-radius:6px; background-color:#bfbaba; padding-left:20px;}
.novel_title_read{ text-align:center; padding-top:20px; height:45px; line-height:45px; font-size:20px; font-weight:bold;}


.huanfu{ position:absolute; display:none; overflow:auto; padding:10px; margin-left:650px; margin-top:125px; z-index:10;}
.huanfu div{ margin-left:9px; width:25px; height:25px; float:left; border-radius:25px; cursor:pointer;}
#mulvdiv{ display:none; position:absolute; margin-top:30px; z-index:1; border-radius:4px; background-color:#f7f5ed; border:#e1ded1 1px solid;}
#mulvdiv div{ font-weight:normal; line-height:25px;width:300px; cursor:pointer; padding:10px;}
#mulvdiv div:hover{ color:#2599bc; background-color:#eae7da;}
.read_tips_div{ clear:both; padding-left:250px; padding-top:15px; font-family:"黑体"; font-size:14px; color:#999999;}
.read_tips_div span{ margin-left:20px; }

#novel_info_read_top{ margin-left:220px; overflow:auto;}
.novel_info_read_div{ float:left; width:160px; margin-left:10px; text-align:center; cursor:pointer;height:40px; line-height:40px;}
.novel_info_read_div ul{ position:absolute; display:none;width:160px; border:#e1e6e9 1px solid; background-color:#fdfcf7; border-radius:0px 0px 6px 6px; padding:0px; margin:0px; list-style:none;}
.novel_info_read_div li{ line-height:35px; border-bottom:#dce6eb 1px dashed; color:#575454; cursor:pointer; text-align:left; padding-left:15px;}
.novel_info_read_div li span{ float:right; font-size:14px; margin-right:25px; color:#999999;}

#novel_content{ line-height:30px; font-family:"宋体"; border-radius:6px;}
#novel_content br{text-indent: 30px;}
.endDate_css{ font-size:12px; color:#999999;background-color:#e8e8e8;}
.endDate_css div{background-color:#e8e8e8;}
.discountedRebate_class{ color:#CC0000;}
.youhui_info{ clear:both;font-size:12px; height:25px; padding-top:10px; color:#999999; text-align:center;}
.huanyipi{ width:480px; float:left; margin-left:15px;}
.huanyipi_title{ height:35px; line-height:35px; font-family:"黑体"; font-size:14px; color:#0099FF; cursor:pointer;}

.addVideoCss{ background-color:#d85224; letter-spacing:4px; border-radius:5px; width:110px; height:40px; line-height:40px; vertical-align:middle; cursor:pointer; border:none; color:#FFFFFF; font-family:"黑体"; font-size:14px; text-align:center;}
.addVideoCss:hover{ background-color:#ea5f2f;}
#video_div div{ margin-top:8px; }
.video_tips{ font-size:13px; color:#666666;}
.videoUrlCss{ border-radius:6px; width:280px; background-color:#f0f0f0; border:none; font-family:"微软雅黑"; font-size:14px; height:38px; line-height:38px; vertical-align:middle; padding-left:15px;}
.videoUrlCss:focus{outline:none; background-color:#ffdfdf;}
.video_tips_span{ font-size:13px; color:#999999;}
.iframe_css{ }
.play_div{ position:absolute;width:240px;height:150px; background:url(../images/bg3.png) repeat;z-index: 10;}
.nei_play{width:100px;height:100px; cursor:pointer; background:url(../images/play-onTop.png) no-repeat 10px 1px;margin: 0 auto; margin-top: 25px;}


.play_btn{ border-radius:5px; cursor:pointer; height:30px; font-size:13px; background:url(../images/music_icon.png) no-repeat 5px 6px;padding-right:10px; padding-left:24px; background-color:#FFFFFF; font-family:"黑体"; border:#dda9a9 1px solid;}
.comment_type_css{ height:33px; width:80px; background-color:#f6f0f0; cursor:pointer; font-family:"黑体"; font-size:14px; margin-left:15px; margin-top:15px;border-radius:5px;border:#ede6e6 1px solid;}
.comment_type_css_click{ height:33px; width:80px; background-color:#14acf3; color:#FFFFFF; cursor:pointer; font-family:"黑体"; font-size:14px; margin-left:15px; margin-top:15px;border-radius:5px;border:#CCCCCC 1px solid;}
input[name='c_type']{height:12px; vertical-align:text-top; margin-top:0;}
.commentTotal{ float: right; padding-right: 650px;}
.heng_div_css{ font-family:"黑体"; border-radius:3px; font-size:16px; padding:5px; height:35px; line-height:35px; text-align:center; background-color:#ffffff; cursor:pointer; margin:0 auto; margin-top:15px; width:40%;}
.heng_div_css:hover{ color:#ffffff; background-color:#14acf3; }
.comment_content img{visibility: hidden;}
.reply_div_css{ margin-top:15px;}
.reply_text_css{ padding-left:10px; border:#d8d4d4 1px solid; height:35px; line-height:35px; border-radius:5px; width:80%;}
.reply_btn_css{ background-color:#1a9cda; letter-spacing:1px; border-radius:5px; margin-left:10px; width:55px; height:35px; line-height:35px; vertical-align:middle; cursor:pointer; border:none; color:#FFFFFF; font-family:"黑体"; font-size:14px; text-align:center;}
.reply_btn_css:hover{ background-color:#1ea9eb;}
.commentReplyDiv{padding: 7px; margin:10px; background-color: #fbfbfb; border:#f0f0f0 1px solid; border-radius: 5px; margin-top:10px;}
.nowPosition{ font-size:12px; color:#c1baba;}
.moreReplyCss{ margin-top:10px;}
.moreReplyCss a{ font-size:13px; color:#CC3300;}
.recommand_3_css div{ min-height: 25px;}
.bigVideo{ border-radius:5px; font-family:"黑体"; font-size:13px; line-height:35px; text-align:center; background-color:#f0f0f0; width:90px; margin-bottom:10px; cursor:pointer;}
.bigVideo:hover{ color:#CC0000; background-color:#dedbdb;}
.paihangbang_index{ width:302px; height:167px; background-image:url(../images/pauhangbang.png); margin-top:350px; margin-left:200px;}
.zuojiafuli_index{width:271px; height:141px; background-image:url(../images/zuojiafuli_new.png); margin-top:160px; margin-left:100px;}
#dianzanqianshi img{ border-radius:40px;}

.hezuoqudaodiv{width:90px; height:35px;float:left;margin-left:30px;margin-top: 20px;}
#huanyipiDIv{ padding-top: 40px;}
.outSystemcss{margin-left: 5px;}
.chapter_content_read_css{text-indent: 0px;}

.novel_state_info_css{ position:absolute; margin-left:530px; padding-top:35px;}
.novel_state_info_css img{ margin-top:5px;}

.wantToWriter{color:red;}
.wantToWriter:hover{color:#b10000;}
#novel_content span{background: none !important;}

.interactivemain{width:840px;min-height:300px;margin:0 auto;}
#novel_main_div{overflow-x: hidden;}

/* danmu  */
#shadowBox{
   width:100%;height:290px;background:rgba(50,50,50,0.1);position:absolute;max-width:1100px;top:-130px;
   z-index:-2;overflow:hidden
}
#shadowBoxHide{
   width:30px;hieght:25px;backgorund:#ccc;position:absolute;right:10px;top:0;
   text-align:center;line-height:25px;background:rgba(0,0,0,0.1);border-radius:3px;padding:5px;
   cursor:pointer;color:#eee;
}
.top{
   position:relative
}
#shadowBoxShow{
   width:20px;height:35px;position:absolute;top:-130px;background:rgba(150,150,150,0.3);
   padding:5px;text-align:center;border-radius:5px;display:none;color:#eee;cursor:pointer;
}
.input_danmu{
	width:100%;height:30px;position:absolute;bottom:-190px;background:rgba(150,150,150,0.9);
}
.danmu_section{
	width:500px;height:30px;padding:0;margin:0;list-style:none;
}
.danmu_section>li{
	float:left;width:120px;height:30px;line-height:30px;text-align:center;color:#eee
}
#danmu>div{
	position:absolute;
}