@charset "utf-8";
/* CSS Document */

#playtime{ float:left; padding-right:10px;}
#totaltime{ float:left; padding-left:10px;}
#allPercent{ cursor:pointer;}
#fathermusicdiv{ margin:0 auto; font-family:"黑体"; font-size:14px; margin-top: 10px ;}
.btn_class{ text-align:center; vertical-align:middle; font-size:14px; cursor:pointer;}
#allvolumn{ cursor:pointer;}
#yndfplayinfo{ margin-top:10px;}
#yndfMusicPlayerSongList{ margin-top:0px;}
.songtitle{ padding-left:15px;vertical-align:middle;}